# Configuracion General
VITE_APP_NAME="Mi Proyecto"
VITE_PORT=3000
VITE_NODE_ENV="development"
VITE_LOG_LEVEL="info"
VITE_FEATURE_X_ENABLED=true

# Secretos
DB_PASSWORD=pass123
JWT_TOKEN=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwibmFtZSI6Ikp1YW4gUGVyZXoiLCJpYXQiOjE2ODAwMDAwMDB9.dBjftJeZ4CVP-mB92K27uhbUJU1p1r_wW1gFWFOEjXk
API_KEY=51H8fakEXAMPLE123456789abcdef
JWT_SECRET=my_super_secret_key_123
